.idea
typings/**
demo/typings/**
node_modules
jspm_packages
link-checker-results.txt
**/*npm-debug.log.*
npm-debug.log*
*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
*.metadata.json
*.ngsummary.json
*.ngfactory.json
*.ngfactory.ts

!karma*.js
!protractor*.js
!typings/typings.d.ts
!wallaby.js