<!--<a href="https://www.npmjs.com/package/ng2-drag-drop"><img src="https://img.shields.io/npm/dm/ng2-drag-drop.svg" alt=""></a>-->
<h2>Agular2 Drag & Drop Demo</h2>
<iframe src="https://ghbtns.com/github-btn.html?user=ObaidurRehman&repo=ng2-drag-drop&type=star&count=true"
    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
<p>
    This is a demo of the ng2-drag-drop package for angular2 and beyond.
</p>



<h3>Full Demo</h3>
<p>This is a complete demo that features drop scopes, disable drop & drag handles.</p>
<hr>

<div class="row">

    <div class="col-sm-3">
        <div class="card card-outline-success mb-3">
            <div class="card-header card-inverse card-success">Draggable Items</div>
            <div class="card-block scroll-list">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action drag-handle list-group-item-success" [draggable] *ngFor="let item of vegetables"
                        [dragClass]="'active'" [dragData]="item" [dragScope]="item.type" [dragEnabled]="true">
                        {{item.name}}
                    </a>
                </div>
            </div>
        </div>

        <div class="card card-outline-primary mb-3">
            <div class="card-header card-inverse card-primary">Draggable Items with Handle</div>
            <div class="card-block scroll-list">
                <ul class="list-group text-center">
                    <li draggable *ngFor="let item of fruits" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item justify-content-between list-group-item-action"
                        [dragScope]="item.type" [dragHandle]="'.drag-handle'">
                        {{item.name}}
                        <i class="drag-handle fa fa-bars fa-lg" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border'" [dropScope]="'fruit'" [dragHintClass]="'drag-hint'"
            (onDrop)="onFruitDrop($event)" [dropEnabled]="fruitDropEnabled">
            <div class="card-header card-inverse card-primary">
                Drop Fruits here <input type="checkbox" class="pull-right" title="Enabled" [(ngModel)]="fruitDropEnabled">
            </div>
            <div class="card-block scroll-list">
                <li *ngFor="let item of droppedFruits" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border-green'" [dropScope]="'vegetable'"
            [dragHintClass]="'drag-hint'" (onDrop)="onVegetableDrop($event)">
            <div class="card-header card-inverse card-primary">Drop Vegetables here</div>
            <div class="card-block scroll-list">
                <li *ngFor="let item of droppedVegetables" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border'" [dropScope]="['fruit', 'vegetable']"
            [dragHintClass]="'drag-hint'" (onDrop)="onAnyDrop($event)">
            <div class="card-header card-inverse card-primary">Drop Anything here</div>
            <div class="card-block scroll-list">
                <li *ngFor="let item of droppedItems" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>

</div>


<h3>Swap List Demo</h3>
<p>Move Items back and forth from List 1 to List 2 and vice versa.</p>
<hr>

<div class="row">
    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-1'" [dragOverClass]="'drag-target-border'"
            [dragHintClass]="'drag-hint'" (onDrop)="onList1Drop($event)">
            <div class="card-header card-inverse card-primary">List 1</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of list1" [dragScope]="'swap-target-2'" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item drag-handle">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3" droppable [dropScope]="'swap-target-2'" [dragOverClass]="'drag-target-border'"
            [dragHintClass]="'drag-hint'" (onDrop)="onList2Drop($event)">
            <div class="card-header card-inverse card-primary">List 2</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of list2" [dragScope]="'swap-target-1'" [dragClass]="'drag-over'" [dragData]="item" class="list-group-item drag-handle">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<h3>Delete Demo</h3>
<p>Move Items to the bin.</p>
<hr>

<div class="row">
    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3">
            <div class="card-header card-inverse card-primary">Delete Items</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of deleteItems" [dragClass]="'active'" [dragScope]="'delete'" [dragData]="item" class="list-group-item drag-handle">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">

        <div class="card card-inverse card-primary mb-3 text-center" droppable [dragHintClass]="'drag-hint-scale'" [dragOverClass]="'bg-danger'"
            [dropScope]="'delete'" (onDrop)="onDeleteDrop($event)">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <h4 class="card-title"><i class="fa fa-trash" aria-hidden="true"></i> Drop to Delete</h4>
                    <p class="card-text">Drop Items here to delete</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<h3>Default CSS Demo</h3>
<p>Demo of built-in Css</p>
<hr>

<div class="row">
    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3">
            <div class="card-header card-inverse card-primary">Delete Items</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of deleteItems" [dragScope]="'delete'" [dragData]="item" class="list-group-item drag-handle">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card mb-3 text-center" droppable [dropScope]="'delete'" (onDrop)="onDeleteDrop($event)">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <h4 class="card-title"><i class="fa fa-trash" aria-hidden="true"></i> Drop to Delete</h4>
                    <p class="card-text">Drop Items here to delete</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<h3>Custom DragHelper Demo</h3>
<p>Custom drag helper</p>
<hr>

<div class="row">
    <div class="col-sm-3">
        <div class="card card-outline-primary mb-3">
            <div class="card-header card-inverse card-primary">Delete Items</div>
            <div class="card-block scroll-list">
                <ul class="list-group">
                    <li draggable *ngFor="let item of deleteItems" [dragScope]="'delete'" [dragData]="item" [dragImage]="'images/drag-helper.png'"
                        [dragHelper]="item.name" class="list-group-item drag-handle">
                        {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="card mb-3 text-center" droppable [dropScope]="'delete'" (onDrop)="onDeleteDrop($event)">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <h4 class="card-title"><i class="fa fa-trash" aria-hidden="true"></i> Drop to Delete</h4>
                    <p class="card-text">Drop Items here to delete</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
