<div class="row">

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Drag Items from here</div>
            <div class="panel-body scroll-list">

                <ul class="list-group">
                    <li class="list-group-item drag-handle" [draggable] *ngFor="let item of vegetables"
                    [dragOverClass]="'drag-over-border'"
                    [dragData]="item" 
                    [dragScope]="item.type"
                    [dragEnabled]="true">
                        {{item.name}}
                    </li>
                </ul>

                <ul class="list-group">
                    <p class="text-justify">The following items can only be dragged by their handle.</p>
                    <li draggable *ngFor="let item of fruits"
                        [dragOverClass]="'drag-over-border'"
                        [dragData]="item" class="list-group-item"
                        [dragScope]="item.type"
                        [dragHandle]="'.drag-handle'">
                        {{item.name}}
                        <div class="pull-right"><i class="drag-handle fa fa-bars fa-lg" aria-hidden="true"></i></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-info" droppable  [dragOverClass]="'drag-target-border'" [dropScope]="'fruit'"
             [dragHintClass]="'drag-hint-border'" (onDrop)="onFruitDrop($event)" [dropEnabled]="fruitDropEnabled">
            <div class="panel-heading">
                Drop Fruits here <input type="checkbox" class="pull-right" title="Enabled" [(ngModel)]="fruitDropEnabled">
            </div>
            <div class="panel-body scroll-list">
                <li *ngFor="let item of droppedFruits" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="panel panel-success" droppable [dragOverClass]="'drag-target-border-green'" [dropScope]="'vegetable'"
             [dragHintClass]="'drag-hint-border'" (onDrop)="onVegetableDrop($event)">
            <div class="panel-heading">Drop Vegetables here</div>
            <div class="panel-body scroll-list">
                <li *ngFor="let item of droppedVegetables" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-info" droppable  [dragOverClass]="'drag-target-border'" [dropScope]="['fruit', 'vegetable']"
             [dragHintClass]="'drag-hint-border'" (onDrop)="onAnyDrop($event)">
            <div class="panel-heading">Drop Anything here</div>
            <div class="panel-body scroll-list">
                <li *ngFor="let item of droppedItems" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>

</div>


<h3>Swap List Demo</h3>
<p>Move Items back and forth from List 1 to List 2 and vice versa.</p>

<div class="row">
   <div class="col-xs-3">
      <div class="panel panel-primary" droppable
      [dragOverClass]="'drag-target-border'" (onDrop)="onList1Drop($event)">
         <div class="panel-heading">List 1</div>
         <div class="panel-body scroll-list">
            <ul class="list-group">
               <li draggable *ngFor="let item of list1"
               [dragOverClass]="'drag-over-border'"
               [dragData]="item" class="list-group-item drag-handle">
               {{item.name}}
               </li>
            </ul>
         </div>
      </div>
   </div>

    <div class = "col-xs-3">
         <div class="panel panel-primary" droppable
         [dragOverClass]="'drag-target-border'" (onDrop)="onList2Drop($event)">
            <div class="panel-heading">List 2</div>
            <div class="panel-body scroll-list">
               <ul class="list-group">
                  <li draggable *ngFor="let item of list2"
                  [dragOverClass]="'drag-over-border'"
                  [dragData]="item" class="list-group-item drag-handle">
                  {{item.name}}
                  </li>
               </ul>
            </div>
         </div>
    </div>
</div>


<h3>Delete Demo</h3>
<p>Move Items to the bin.</p>

<div class="row">
   <div class="col-xs-3">
      <div class="panel panel-primary">
         <div class="panel-heading">Delete Items</div>
         <div class="panel-body scroll-list">
            <ul class="list-group">
               <li draggable *ngFor="let item of deleteItems"
               [dragOverClass]="'drag-over-border'" [dragScope]="'delete'"
               [dragData]="item" class="list-group-item drag-handle">
               {{item.name}}
               </li>
            </ul>
         </div>
      </div>
   </div>

    <div class = "col-xs-3">
        <div class="well" droppable [dragHintClass]="'drag-hint-scale'"
         [dragOverClass]="'drag-target-border'" [dropScope]="'delete'"
         (onDrop)="onDeleteDrop($event)">
         Drop here to delete</div>
    </div>
</div>
