<div class="row">

    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Drag Items from here</div>
            <div class="panel-body scroll-list">

                <ul class="list-group">
                    <li draggable *ngFor="let item of vegetables"
                        [dragOverClass]="'drag-over-border'"
                        [dragData]="item" class="list-group-item"
                        [dragScope]="item.type">
                        {{item.name}}
                    </li>
                </ul>

                <ul class="list-group">
                    <p class="text-justify">The following items can only be dragged by their handle.</p>
                    <li draggable *ngFor="let item of fruits"
                        [dragOverClass]="'drag-over-border'"
                        [dragData]="item" class="list-group-item"
                        [dragScope]="item.type"
                        [dragHandle]="'.drag-handle'">
                        {{item.name}}
                        <div class="pull-right"><i class="drag-handle fa fa-bars fa-lg" aria-hidden="true"></i></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-info" droppable  [dragOverClass]="'drag-target-border'" [dropScope]="'fruit'"
             (onDrop)="onFruitDrop($event)">
            <div class="panel-heading">Drop Fruits here</div>
            <div class="panel-body scroll-list">
                <li *ngFor="let item of droppedFruits" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>


    <div class="col-sm-3">
        <div class="panel panel-success" droppable [dragOverClass]="'drag-target-border-green'" [dropScope]="'vegetable'"
             (onDrop)="onVegetableDrop($event)">
            <div class="panel-heading">Drop Vegetables here</div>
            <div class="panel-body scroll-list">
                <li *ngFor="let item of droppedVegetables" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-info" droppable  [dragOverClass]="'drag-target-border'" [dropScope]="['fruit', 'vegetable']"
             (onDrop)="onAnyDrop($event)">
            <div class="panel-heading">Drop Anything here</div>
            <div class="panel-body scroll-list">
                <li *ngFor="let item of droppedItems" class="list-group-item">{{item.name}}</li>
            </div>
        </div>
    </div>

</div>
