<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Drag Items from here</div>
      <div class="panel-body scroll-list">

        <ul class="list-group">
          <li draggable [dragOverClass]="'drag-over-border'" *ngFor="let country of countries" class="list-group-item">{{country}}</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default" droppable [dragOverClass]="'drag-target-border'">
      <div class="panel-heading">Drop Items here</div>
      <div class="panel-body scroll-list">
        Panel content
      </div>
    </div>
  </div>
</div>

